@charset "utf-8";
body {
	font: 12px/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: url('../images/bg-home.jpg') no-repeat center top;
	margin: 0;
	padding: 0;
	color: #000;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color: #42413C;
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #6E6C64;
	text-decoration: none;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}


.container {width:100%;}

.top-bar{height:25px; padding:4px 0;background: url('../images/line.png') left bottom repeat-x #333333;}
.top-bar .nav-1{width:960px;margin:0 auto;height:20px; padding:4px 0;}
.top-bar .nav-1 ul.nav{list-style:none;width:570px;float:right;}
.top-bar .nav-1 ul.nav li{float:left;margin:0 15px;}
.icon-white{background-image: url("../images/glyphicons-halflings-white.png");background-repeat: no-repeat;width: 14px;height: 14px;margin-right:4px;}
.icon-map-marker {background-position: -24px -72px;display: inline-block;}
.icon-comment {background-position: -240px -120px;display: inline-block;}
.icon-envelope {background-position: -72px 0;display: inline-block;}
.icon-login {background-position: -168px 0px;display: inline-block;}
.top-bar .nav-1 ul.nav li a{color:#999999;font-size:13px;}
.top-bar .nav-1 ul.nav li a:hover{color:#fff;}

.header {background:url('../images/bg-menu.png') center -4px no-repeat;height: 100px;}
.header .logo{width:960px;height:100px;margin:0 auto;}
.header #logo {position: absolute;width: 355px;height: 75px;top: 49px;background: url(../images/logo.png) no-repeat;text-indent: -999999px;}

.content {width:960px;margin:0 auto;background: url('../images/home-vans.png') no-repeat;height: 482px;}

.content-wrapper{background:#222222;}
.side-bar{float:left; width:20%;height:544px;background: url(../images/bg.png) repeat rgba(70, 70, 70, 0.6);border-bottom: 1px solid rgba(57, 57, 57, 0.6);}
.content-inner{float:left;width:80%;height:544px;}

/* ~~ The footer ~~ */
.footer {background: #272727;color: #fff;border-top: 5px solid #36bddd;font-size:12px;font-style:italic;}
.footer .quick-links{height:1px;}
.footer .bot{background: url('../images/bg-bottom.png');height: 20px; padding: 20px 0;}
.footer .bot .inner{width:960px;margin:0 auto;}

.fltrt { float: right;margin-left: 8px;}
.fltlft { float: left;margin-right: 8px;}
.clearfloat {clear:both;height:0;font-size: 1px;line-height: 0px;}